rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /activities/{activity} {
      allow create: if request.auth != null && 
        request.resource.data.keys().hasAll(['startTime', 'activityType']) &&
        request.resource.data.userId == request.auth.uid;
      allow update: if request.auth != null && 
        request.resource.data.userId == request.auth.uid &&
        request.resource.data.duration.size() <= 5; // HH:MM format
      allow read: if request.auth != null; // Allow all authenticated users to read all activities
      allow delete: if request.auth != null && 
        resource.data.userId == request.auth.uid;
    }
  }
}